<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<ul>
<li>
<a th:href="@{/variables/string/}+'Hola carlos'">/variables/string/Hola carlos</a>
</li>
<li>
<a th:href="@{/variables/string/}+'Que tal jhon'">/variables/string/Que tal jhon</a>
</li>
<li>
<a th:href="@{/variables/string/}+'Saludos carlos'+'/'+${'7'}">/variables/string/Saludos carlos/7</a>
</li>
</ul>


</body>
</html>