<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Variables ver</title>
</head>
<body>
<h1>Recibir parametros de la ruta</h1>
<div th:text="${resultado}"></div>
</body>
</html>