<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar request</title>
</head>
<body>
<h1>Enviar request</h1>
<ul>
<li>
<a th:href="@{/params/string(texto='Hola carlos')}">Enviar a /params/string con texto Hola carlos</a>




</li>
<li>
<a th:href="@{/params/string(texto='Hola andres')}">Enviar a /params/string con texto Hola andres</a>
</li>
<li>
<a th:href="@{/params/mix-params(saludo='Hola andres',numero=7)}">Enviar a /params/mix-params con texto Hola andres y numero 7</a>
</li>
<li>
<a th:href="@{/params/mix-params-request(saludo='Hola andres',numero=7)}">Enviar a /params/mix-params-request con texto Hola andres y numero 7</a>
</li>



</ul>


</body>
</html>