<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recibir parametros del Request HTTP GET</title>
</head>
<body>
<div th:text="${resultado}"></div>
</body>
</html>